.add-mixer-button {
    margin-left: auto;
    height: 40px;
    align-self: center;
    white-space: nowrap;
}

.mixers-content {
    padding-top: 10px;
}

.mixers-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.mixers-list-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.mixers-list-row-outer {
    display: flex;
    align-items: stretch;
    width: 100vw;
    min-width: 0;
}

@media (max-width: 900px) {
    .mixers-list-row-outer {
        flex-direction: column;
    }
}

.mixers-view {
    overscroll-behavior-y: none;
    padding-top: 0;
    --sticky-cover-height: 14px;
}

.mixers-list-header-row {
    display: grid;
    grid-template-columns: 10% 12% 12% 18% 12% 18% 10% 8%;
    gap: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}

@media (max-width: 900px) {
    .mixers-list-header-row {
        grid-template-columns: 16% 14% 14% 22% 0 20% 14% 0;
    }
}
